div {
    margin: 0px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    width: 960px;
}

.cell {
    width: 57px;
    height: 57px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.cellFilled {
    background-color: black;
    width: 57px;
    height: 57px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

#container div {
    width: 57px;
    height: 57px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}