div {
    margin: 0px;
}
html {
    display: flex;
    flex-direction: column;
}
#container {
    display: flex;
    flex-wrap: wrap;
    min-width: 960px;
    max-width: 960px;
    padding: 0px;
}

.cell {
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.cellFilled {
    background-color: black;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

